/* start blog */
.blogs {
    .container {
        .row {
            .blog-item {
                flex: 0 0 33.33%;
                max-width: 33.33%;
                display: flex;
                .inner {
                    background: var(--color-white);
                    overflow: hidden;
                    transition: var(--main-transition);
                    transform: translateY(0);
                    border-radius: var(--border-radius);
                    -webkit-border-radius: var(--border-radius);
                    -moz-border-radius: var(--border-radius);
                    -ms-border-radius: var(--border-radius);
                    -o-border-radius: var(--border-radius);
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);
                    -webkit-transition: var(--main-transition);
                    -moz-transition: var(--main-transition);
                    -ms-transition: var(--main-transition);
                    -o-transition: var(--main-transition);

                    &:hover {
                        transform: translateY(-0.98rem);
                        -webkit-transform: translateY(-0.98rem);
                        -moz-transform: translateY(-0.98rem);
                        -ms-transform: translateY(-0.98rem);
                        -o-transform: translateY(-0.98rem);
                    }

                    .thumb {
                        position: relative;
                        overflow: hidden;

                        .category {
                            background: var(--color-primary);
                            border-bottom-left-radius: 0.98rem;
                            border-bottom-right-radius: 0.98rem;
                            color: #fff;
                            font-size: var(--small-font-size);
                            padding: 0.12rem 0.5rem;
                            position: absolute;
                            left: 1.25rem;
                            top: 0;
                            z-index: 1;
                        }

                        img {
                            transition: var(--main-transition);
                            transform: scale(1);
                            -webkit-transform: scale(1);
                            -moz-transform: scale(1);
                            -ms-transform: scale(1);
                            -o-transform: scale(1);
                            -webkit-transition: var(--main-transition);
                            -moz-transition: var(--main-transition);
                            -ms-transition: var(--main-transition);
                            -o-transition: var(--main-transition);
                        }
                        &:hover img {
                            transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                            -moz-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            -o-transform: scale(1.1);
                        }
                    }

                    .details {
                        padding: 1.25rem;
                        .title {
                            line-height: 1.2;
                            a:hover {
                                color: var(--color-primary);
                            }
                        }
                        .meta {
                            font-size: var(--small-font-size);
                            color: var(--color-gray);
                            margin-top: 0.5rem;
                            li {
                                display: inline-block;
                                position: relative;
                                &:not(:last-child) {
                                    margin-right: 0.6rem;
                                }
                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 0.19rem;
                                    height: 0.19rem;
                                    margin-left: 0.6rem;
                                    vertical-align: middle;
                                    display: inline-block;
                                    background: var(--color-gray);
                                    border-radius: 50%;
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    -ms-border-radius: 50%;
                                    -o-border-radius: 50%;
                                }
                                &:last-child::after {
                                    display: none;
                                }
                            }
                        }
                    }

                    @media (max-width: 576px) {
                        max-width: 90%;
                        margin: 0 auto;
                    }
                }
                @media (max-width: 576px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

/* end blog */
